
exercise1/.ipynb_checkpoints/
exercise1b/.ipynb_checkpoints/
exercise2/.ipynb_checkpoints/
exercise3/.ipynb_checkpoints/
exercise4/.ipynb_checkpoints/
exercise4a/.ipynb_checkpoints/
exercise5/.ipynb_checkpoints/
exercise6/.ipynb_checkpoints/
exercise7/.ipynb_checkpoints/
exercise8/.ipynb_checkpoints/
exercise9/.ipynb_checkpoints/
exercise10/.ipynb_checkpoints/
exercise5a/.ipynb_checkpoints/
exercise4a/data/
exercise6a/.ipynb_checkpoints/
exercise7a/.ipynb_checkpoints/
exercise8a/.ipynb_checkpoints/
exercise9a/.ipynb_checkpoints/
exercise10a/.ipynb_checkpoints/
exercise4b/.ipynb_checkpoints/
exercise5b/.ipynb_checkpoints/
exercise6b/.ipynb_checkpoints/
exercise7b/.ipynb_checkpoints/
exercise8b/.ipynb_checkpoints/
exercise9b/.ipynb_checkpoints/
exercise10b/.ipynb_checkpoints/