
exercise1/monte-carlo0-Copy1.ipynb
exercise1/.ipynb_checkpoints/monte-carlo-checkpoint.ipynb
exercise2/.ipynb_checkpoints/nearest-neighbor-checkpoint.ipynb
exercise2/.ipynb_checkpoints/monte-carlo-commented.ipynb
exercise3/.ipynb_checkpoints/qda-lda-checkpoint.ipynb
exercise3/.ipynb_checkpoints/nearest-neighbor-commented-checkpoint.ipynb
exercise4/.ipynb_checkpoints/
exercise5/.ipynb_checkpoints/
exercise6/.ipynb_checkpoints/
exercise7/.ipynb_checkpoints/
exercise8/.ipynb_checkpoints/
exercise9/.ipynb_checkpoints/
exercise10/.ipynb_checkpoints/
