
blatt1/monte-carlo0-Copy1.ipynb
blatt1/.ipynb_checkpoints/monte-carlo-checkpoint.ipynb
blatt2/.ipynb_checkpoints/nearest-neighbor-checkpoint.ipynb
blatt2/.ipynb_checkpoints/monte-carlo-commented.ipynb
